/Content/DesertTown
/Content/Garden_Kit
/Content/InfinityBladeGrassLands
/Content/WaterMaterials
Content\FindingBattery\Material\Texture\Sand
/Intermediate
/Saved
/.vs
/Build
/Plugins
/Content/Environment_Set
*.sln
*_BuiltData.uasset